#school {
    text-align: center;
    padding: 70px 0px;
    font-family: "Gotham",sans-serif;
}

#image-slider {
    display: flex;
    justify-content: center;
    align-content: center;
}

.school_text_wrapper {
    width: 628px;
    margin: 30px auto;
    text-align: left;
    font-size: 14px;
    color: #9290A6;
    font-weight: 600;
    line-height: 23px;
    font-family: "Gotham-Book";
}

#school_testimonial {
    color: #fff;
    padding: 3% 15%;
    text-align: left;
    margin: 90px 0;
    min-height: 80vh;
}

#school_testimonial_left {
    width: 30%;
    float: left;
}

#school_testimonial_right {
    width: 70%;
    float: left;
    height: 100%;
}

#school_testimonial_title {
    text-transform: uppercase;
    font-family: "Gotham-Bold";
    font-size: 11px;
    letter-spacing: 1px;
}

#school_testimonial_title:after {
    display: block;
    height: 2px;
    background-color: #fff;
    content: " ";
    width: 30px;
    margin-top: 12px;
    margin-left: 0;
  }

#school_testimonial_body {
    font-size: 36px;
    font-family: "Gotham-Light";
    font-weight: 700;
    line-height: 46px;
    display: flex;
    align-items: center;
    justify-content: left;
}

#school_testimonial_writer {
    font-family: "Gotham-Medium";
    font-size: 12px;
    font-weight: 300;
    display: flex;
    align-items: left;
    justify-content: left;
}


@media (max-width: 500px){

}

/* ADJUSTING THE IMAGE SLIDER */

.carousel .control-dots .dot {
    width: 30.5px !important;
    height: 1px !important;
    background: #bd1a41 !important;
    border-radius: 0% !important;
    box-shadow:0px 0px 0px !important;
}

.carousel .control-dots {
    background-color: #fff !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    margin-bottom: 0;
}

.carousel.carousel-slider .control-arrow{
    height: 70% !important;
    margin-top: 15%;
    background: #bd1a4018
}

.carousel.carousel-slider .control-arrow:hover {
    background: #bd1a40ce;
}

